<div id="<%= dom_id page %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Url:</strong>
    <%= page.url %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last scanned:</strong>
    <%= page.last_scanned %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Indexed:</strong>
    <%= page.indexed %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Site:</strong>
    <%= page.site_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this page", page, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this page", edit_page_path(page), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
